# Sets

In [1]:
set1 = set()

In [2]:
set1

set()

In [3]:
set1.add(11)

In [4]:
set1

{11}

It might look like a dictionary because of the curly braces but it's not because there are no key-value pairs.

### Add values in set

In [5]:
set1.add(22)

In [6]:
set1

{11, 22}

In [7]:
set1.add(22)

In [8]:
set1

{11, 22}

Even after adding the number '22' again, it cannot be seen in the set because sets do not accept repeated objects and accept only unique values.

### Type casting
When we have a list with repeated values, it can be type casted to a set to get only the unique ones.

In [9]:
list1 = [11,11,22,33,44,44,44,44,55]

In [10]:
set(list1)

{11, 22, 33, 44, 55}

### add

In [1]:
s = set()

In [2]:
s.add(1)

In [3]:
s.add(3)

In [4]:
s

{1, 3}

In [5]:
s.add(3)

In [6]:
s

{1, 3}

### clear

In [7]:
s.clear()

In [8]:
s

set()

### copy

In [9]:
s ={1,2,3}

In [10]:
sc = s.copy()

In [11]:
sc

{1, 2, 3}

In [12]:
s.add(4)

In [13]:
s

{1, 2, 3, 4}

In [14]:
sc

{1, 2, 3}

### difference

In [15]:
s.difference(sc)

{4}

In [16]:
s1 = {1,2,3}
s2 = {1,4,5}

In [17]:
s1.difference_update(s2)

In [18]:
s1

{2, 3}

### discard

In [19]:
s

{1, 2, 3, 4}

In [21]:
s.discard(2)

In [22]:
s

{1, 3, 4}

### intersection

In [23]:
s1 = {1,2,3}
s2 = {1,2,4}

In [24]:
s1.intersection(s2)

{1, 2}

In [25]:
s1.intersection_update(s2)

In [26]:
s1

{1, 2}

### disjoint

In [27]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [28]:
s1.isdisjoint(s2)

False

In [29]:
s1.isdisjoint(s3)

True

### subset and superset

In [30]:
s1.issubset(s2)

True

In [31]:
s2.issuperset(s1)

True

### symmetric difference

All the elements in exactly one of the sets is returned.

In [32]:
s1

{1, 2}

In [33]:
s2

{1, 2, 4}

In [34]:
s1.symmetric_difference(s2)

{4}

### union

In [ ]:
s1.union(s2)