# Sets

In [1]:
set1 = set()

In [2]:
set1

set()

In [3]:
set1.add(11)

In [4]:
set1

{11}

It might look like a dictionary because of the curly braces but it's not because there are no key-value pairs.

### Add values in set

In [5]:
set1.add(22)

In [6]:
set1

{11, 22}

In [7]:
set1.add(22)

In [8]:
set1

{11, 22}

Even after adding the number '22' again, it cannot be seen in the set because sets do not accept repeated objects and accept only unique values.

### Type casting
When we have a list with repeated values, it can be type casted to a set to get only the unique ones.

In [9]:
list1 = [11,11,22,33,44,44,44,44,55]

In [10]:
set(list1)

{11, 22, 33, 44, 55}